# Environment-specific settings for python-dotenv

# ===== epictrack-api =====

#connecting to local database
DATABASE_URL="postgresql://postgres:postgres@localhost:8432/postgres"
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=172.18.0.2
DATABASE_PORT="5432"
DATABASE_NAME=postgres

# Connection to unit test database.
DATABASE_TEST_URL="postgresql://postgres:postgres@localhost:8432/postgres"
DATABASE_TEST_USERNAME=postgres
DATABASE_TEST_PASSWORD=postgres
DATABASE_TEST_HOST=localhost
DATABASE_TEST_PORT="8432"
DATABASE_TEST_NAME=postgres

# Flask settings
PYTHONWARNINGS="once"
FLASK_APP=manage.py
FLASK_ENV="development"
FLASK_DEBUG=True
POD_TESTING=True
SQLALCHEMY_ECHO=False
DEBUG=True

# keycloak settings
JWT_OIDC_ISSUER=https://dev.loginproxy.gov.bc.ca/auth/
JWT_OIDC_WELL_KNOWN_CONFIG=https://dev.loginproxy.gov.bc.ca/auth/realms/eao-epic/.well-known/openid-configuration
JWT_OIDC_ALGORITHMS=RS256
JWT_OIDC_AUDIENCE=epictrack-web
JWT_OIDC_CLIENT_SECRET=
JWT_OIDC_JWKS_CACHE_TIMEOUT=300
JWT_OIDC_CACHING_ENABLED=True

KEYCLOAK_BASE_URL=https://dev.loginproxy.gov.bc.ca
KEYCLOAK_REALM_NAME=eao-epic
KEYCLOAK_ADMIN_CLIENT=realm-management
KEYCLOAK_ADMIN_SECRET=GetFromKeyCloakAdmin
CONNECT_TIMEOUT=60

# CDOGS settings
CDOGS_API_ENDPOINT=
CDOGS_TOKEN_END_POINT=
CDOGS_CLIENT_ID=
CDOGS_CLIENT_SECRET=
