@use "../../../styles/tokens";

.track-rich-editor__content {
  max-height: 485px;
  min-height: 200px;
  overflow-y: auto;
  padding: 8px;
  margin-bottom: 8px;
  font-size: tokens.$typography-font-size-body;
  line-height: tokens.$typography-line-height-body;
  outline: none;
}

.track-rich-editor__content p {
  margin: 0;
}

.track-rich-editor__content p + p,
.track-rich-editor__content ul + p,
.track-rich-editor__content ol + p,
.track-rich-editor__content p + ul,
.track-rich-editor__content p + ol {
  margin-top: 0.6rem;
}

.track-rich-editor__content ul,
.track-rich-editor__content ol {
  padding-left: 1.5rem;
  margin: 0;
}

.track-rich-editor__content a {
  color: tokens.$typography-color-link;
  text-decoration: underline;
}

.track-rich-editor__content .is-editor-empty:first-child::before {
  color: tokens.$typography-color-placeholder;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.track-rich-editor__select {
  background: tokens.$surface-color-background-white;
  min-height: 32px;
}
