.indicator {
    position: absolute;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
}

@media (max-width: 768px) {
    .indicator {
        
        ::after {
            content: ('Development')
        }
    }
}