.indicator {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 100%;
    text-align: center;
    box-shadow: 3px 3px #6c6767
}

@media (max-width: 768px) {
    .indicator {
        display: none;
    }
}