VITE_API_URL=http://localhost:3200
VITE_KEYCLOAK_URL=https://dev.loginproxy.gov.bc.ca/
VITE_KEYCLOAK_CLIENT=epictrack-web
VITE_KEYCLOAK_REALM=eao-epic
PORT=3002
VITE_APP_ENV=development
VITE_CENTRE_API_URL=
VITE_APP_URL=http://localhost:3002