REACT_APP_API_URL=http://localhost:3200
REACT_APP_KEYCLOAK_URL=https://dev.loginproxy.gov.bc.ca/
REACT_APP_KEYCLOAK_CLIENT=epictrack-web
REACT_APP_KEYCLOAK_REALM=eao-epic
PORT=3002
REACT_APP_ENV=development
REACT_APP_CENTRE_API_URL=