$typography-font-families-bc-sans: "BC Sans";
$typography-color-secondary: #474543;
$typography-color-link: #255a90;
$typography-color-placeholder: #9f9d9c;
$typography-font-size-body: 1rem;
$typography-line-height-body: 1.688rem;
$surface-color-background-white: #ffffff;
