@charset "UTF-8";
@use "tokens";

#main {
  margin-top: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    tokens.$typography-font-families-bc-sans, "Noto Sans", Verdana, Arial,
    sans-serif;
  font-size: 1.25em;
  line-height: 1.3em;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: tokens.$typography-color-secondary;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
